{{#link-to 'question' question.id}}
<div id="border" >
  <h3 class="center">{{question.ask}}</h3>
    <p class="center"><strong>Asker:</strong> {{question.author}}</p>
    <div class="center">
      <button class="btn-sm btn-primary" >Add to Question Cart</button>
    </div>
</div>
{{/link-to}}
