#border {
  border: 1px solid blue;
}

.center {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0;
  background: purple;
  color: white;
}

.center {
  text-align: center;
}

#center {
  text-align: center;
}
