<div class="container">
  <div class="jumbotron text-center">
    <h1>What's on Your Mind?</h1>
  </div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class='navbar-header'>
        {{#link-to 'index' class="navbar-brand"}}Home{{/link-to}}
        {{#link-to 'cart' class="navbar-brand"}}Question-Cart{{/link-to}}
      </div>
    </div>
  </nav>
</div>



{{outlet}}
